table,
th,
td {
  padding: 8px;
  text-align: left;
}

table {
  width: 100%;
  table-layout: fixed;
  background-color: #f9f9f9;
  border-collapse: separate; 
  border-spacing: 0;
}

thead {
  background-color: #4CAF50;
  color: white;
}

#children {
  background-color: #2196F3;
  color: white;
  border: 1px solid black;
  cursor: pointer;
}

#delete {
  background-color: #f44336;
  color: white;
  border: 1px solid black;
  cursor: pointer;
}
